body {
  font-family: "TbcFont1", sans-serif;
  font-size: 1.6rem;
  background-color: #2b2b2b;
  color: #f4f4f4;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
