body {
  font-family: "TbcFont1", sans-serif;
  font-size: 1.6rem;
  background-color: $color-bcg;
  color: $color-font;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
