$color-font: #f4f4f4;
$color-bcg: #2b2b2b;
$color-bcg-dark: #1a1e1f;
$color-bcg-darker: #161616;
$color-bcg-dark-transparent: #212121f2;
$color-bcg-transparent: #16151598;
$color-gray: #aaa;
$color-gray-dark: #4f4f4f;
$color-gray-light: #ddd;
$color-gray-lighter: #e4e4e4;
$color-gray-darker: #353131;
$color-blue: #00a3e0;
$color-blue-light: #04aef1;
$color-blue-lighter: #00a3f3;
$color-white: #fff;
