$color-0: rgb(255, 255, 255);
$color-1: rgb(255, 255, 255);
$color-bcg-dark: #1a1e1f;
$color-gray: #aaa;
$color-2: rgb(0, 0, 0);
$color-3: rgb(237, 28, 36);
$color-4: rgb(0, 136, 203);
$color-blue: #00a3e0;
$color-blue-lighter: #00a3f3;
$color-blue-light: #04aef1;
$color-5: rgb(255, 203, 5);
$color-6: rgb(114, 114, 114);
$color-7: rgb(176, 176, 176);
$color-8: rgb(255, 255, 255);
$color-9: rgb(114, 114, 114);
$color-10: rgb(176, 176, 176);
$color-11: rgb(213, 213, 213);
$color-12: rgb(170, 170, 170);
$color-13: rgb(128, 128, 128);
$color-14: rgb(85, 85, 85);
$color-15: rgb(43, 43, 43);
$color-16: rgb(208, 208, 208);
$color-17: rgb(162, 162, 162);
$color-18: rgb(115, 115, 115);
$color-19: rgb(69, 69, 69);
$color-20: rgb(22, 22, 22);
$color-21: rgb(244, 244, 244);
$color-22: rgb(195, 195, 195);
$color-23: rgb(146, 146, 146);
$color-24: rgb(98, 98, 98);
$color-25: rgb(49, 49, 49);
$color-26: rgb(210, 172, 247);
$color-27: rgb(186, 131, 240);
$color-28: rgb(128, 21, 232);
$color-29: rgb(85, 14, 155);
$color-30: rgb(43, 7, 77);
$color-31: rgb(177, 211, 187);
$color-32: rgb(127, 168, 139);
$color-33: rgb(64, 124, 81);
$color-34: rgb(43, 83, 54);
$color-35: rgb(21, 41, 27);
$color-36: rgb(255, 255, 255);
$color-37: rgb(0, 0, 0);
$color-38: rgb(232, 230, 230);
$color-39: rgb(199, 199, 199);
$color-40: rgb(118, 118, 118);
$color-41: rgb(56, 74, 211);
$color-42: rgb(0, 0, 0);
$color-43: rgb(199, 199, 199);
$color-44: rgb(255, 255, 255);
$color-45: rgb(0, 0, 0);
$color-46: rgb(0, 0, 0);
$color-47: rgb(232, 230, 230);
$color-48: rgb(56, 74, 211);
$color-49: rgb(56, 74, 211);
$color-50: rgb(255, 255, 255);
$color-51: rgb(255, 255, 255);
$color-52: rgb(56, 74, 211);
$color-53: rgb(56, 74, 211);
$color-54: rgb(199, 199, 199);
$color-55: rgb(199, 199, 199);
$color-56: rgb(255, 255, 255);
$color-57: rgb(255, 255, 255);
$color-58: rgb(56, 74, 211);
$color-59: rgb(255, 255, 255);
$color-60: rgb(56, 74, 211);
$color-61: rgb(56, 74, 211);
$color-62: rgb(255, 255, 255);
$color-63: rgb(255, 255, 255);
$color-64: rgb(199, 199, 199);
$color-65: rgb(199, 199, 199);
$font-0: normal normal normal 24px/1.6em
    wfont-643d94-dd28b3957391427eb54de1c9eff7cfb1,
  wf-dd28b3957391427eb54de1c9e, orig-tbc-x-regular;
$font-1: normal normal normal 16px/1.4em din-next-w01-light, din-next-w02-light,
  din-next-w10-light, sans-serif;
$font-2: normal normal normal 20px/1.6em
    wfont-643d94-93c16d86ec9d47d0a2a36894fbdd54fd,
  wf-93c16d86ec9d47d0a2a36894f, orig-tbc-x-medium;
$font-3: normal normal normal 48px/1.6em
    wfont-643d94-dd28b3957391427eb54de1c9eff7cfb1,
  wf-dd28b3957391427eb54de1c9e, orig-tbc-x-regular;
$font-4: normal normal normal 32px/1.6em
    wfont-643d94-dd28b3957391427eb54de1c9eff7cfb1,
  wf-dd28b3957391427eb54de1c9e, orig-tbc-x-regular;
$font-5: normal normal normal 28px/1.6em
    wfont-643d94-dd28b3957391427eb54de1c9eff7cfb1,
  wf-dd28b3957391427eb54de1c9e, orig-tbc-x-regular;
$font-6: normal normal normal 24px/1.6em
    wfont-643d94-dd28b3957391427eb54de1c9eff7cfb1,
  wf-dd28b3957391427eb54de1c9e, orig-tbc-x-regular;
$font-7: normal normal normal 18px/1.6em
    wfont-643d94-dd28b3957391427eb54de1c9eff7cfb1,
  wf-dd28b3957391427eb54de1c9e, orig-tbc-x-regular;
$font-8: normal normal normal 16px/1.6em
    wfont-643d94-dd28b3957391427eb54de1c9eff7cfb1,
  wf-dd28b3957391427eb54de1c9e, orig-tbc-x-regular;
$font-9: normal normal normal 14px/1.6em
    wfont-643d94-dd28b3957391427eb54de1c9eff7cfb1,
  wf-dd28b3957391427eb54de1c9e, orig-tbc-x-regular;
$font-10: normal normal normal 10px/1.4em din-next-w01-light, din-next-w02-light,
  din-next-w10-light, sans-serif;
$wix-ads-height: 0px;
$sticky-offset: 0px;
$wix-ads-top-height: 0px;
$site-width: 980px;
$above-all-z-index: 100000;
$portals-z-index: 100001;
$minViewportSize: 320;
$maxViewportSize: 1920;
$theme-spx-ratio: 1px;
