.question-container {
  padding: 2.8rem 0 3rem;
  padding: 2.8rem 0;
  margin: 0 5rem;
  border-bottom: 1px solid $color-gray-darker;

  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    h4 {
      font-size: 1.8rem;
      font-family: "TbcFont1";
      font-weight: 100;
      transition: font-size 0.5s ease-out;

      @include respond(740px) {
        font-size: 2.4rem;
      }
    }

    &-btn {
      color: $color-white;
      padding: 0.6rem;

      .fa-chevron-up,
      .fa-chevron-down {
        display: none;
        font-size: 1rem;
        transition: font-size 0.5s ease-out;

        @include respond(740px) {
          font-size: 2.4rem;
        }

        &.show {
          display: block;
        }
      }
    }
  }
  .answer {
    font-size: 1.4rem;
    line-height: 2;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;

    @include respond(740px) {
      font-size: 2rem;
    }

    &-heading {
      padding: 3.2rem 0.2rem 4rem;

      &:last-child {
        padding-bottom: 0rem;
      }
    }

    &-content {
      padding: 0 1rem 0 2.3rem;

      p {
        padding: 0.25rem 0;

        span {
          font-weight: 600;
        }
      }
    }

    &.shown {
      max-height: 1000rem;
    }
  }
}
