.footer {
  background-color: $color-bcg-dark;
  padding-top: 1.8rem;
  transition: padding 0.5s ease-out;

  @include respond(740px) {
    padding-top: 0;
  }

  &-container {
    padding: 4.55rem 1rem;
    display: flex;
    justify-content: space-between;
    max-width: 100rem;
    margin: 0 auto;
    transition: all 1s ease-out;

    @include respond(740px) {
      justify-content: flex-start;
      align-items: center;
      padding: 5.55rem 5rem;
    }
  }

  &-logo {
    width: 10.6rem;
    margin-bottom: 0.8rem;

    @include respond(740px) {
      width: 15rem;
      margin-bottom: 1.5rem;
    }
  }
}
