.footer {
  background-color: $color-bcg-dark;
  padding-top: 1.8rem;
  color: #fff;
  transition: padding 0.5s ease-out;

  @include respond(740px) {
    padding-top: 0;
  }

  &-container {
    padding: 4.55rem 1rem;
    display: flex;
    justify-content: space-between;
    max-width: 100rem;
    margin: 0 auto;
    transition: all 1s ease-out;

    @include respond(740px) {
      justify-content: flex-start;
      align-items: center;
      padding: 5.55rem 5rem;
    }
  }

  &-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.4rem;

    @include respond(740px) {
      width: 100%;
    }

    &-small-social {
      display: none;

      @include respond(740px) {
        display: flex;
        justify-content: space-between;
      }
      .social-container {
        display: flex;
        align-items: flex-end;
        gap: 2rem;

        &-link {
          img {
            width: 3.9rem;
          }
        }
      }

      &-email {
        text-decoration: none;
        background-color: #00aef3;
        color: inherit;
        padding: 0.6rem 3.22rem 0.75rem;
        font-size: 1.8rem;
        border-radius: 0.6rem;
        font-family: "TbcFont1";
        position: relative;
        line-height: 1.6;
        transition: all 0.25s ease-out;

        &:hover {
          background-color: $color-gray;
          color: $color-bcg-dark;
        }
      }
    }

    .rules {
      text-decoration: none;
      color: inherit;
      transition: color 0.25s ease;
      margin-top: 0.1rem;

      @include respond(740px) {
        display: none;
      }

      &:hover {
        color: $color-gray;
      }
    }
    .rules-small {
      display: none;
      text-decoration: none;
      color: inherit;
      transition: color 0.25s ease;
      margin-top: 1.5rem;
      font-size: 2rem;

      @include respond(740px) {
        display: block;
      }

      &:hover {
        color: $color-gray;
      }
    }

    .copyright {
      @include respond(740px) {
        font-size: 2rem;
      }
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    @include respond(740px) {
      display: none;
    }

    .social-container {
      display: flex;
      align-items: flex-end;
      gap: 1rem;

      &-link {
        img {
          width: 3.9rem;
        }
      }
    }

    &-email {
      text-decoration: none;
      background-color: #00aef3;
      color: inherit;
      padding: 0.6rem 3.22rem 0.75rem;
      font-size: 1.6rem;
      border-radius: 0.6rem;
      font-family: "TbcFont1";
      position: relative;
      top: 0.3rem;
      line-height: 1.6;
      transition: all 0.25s ease-out;

      &:hover {
        background-color: $color-gray;
        color: $color-bcg-dark;
      }
    }
  }

  &-logo {
    width: 10.6rem;
    margin-bottom: 0.8rem;

    @include respond(740px) {
      width: 15rem;
      margin-bottom: 1.5rem;
    }
  }
}
