.header {
  margin-top: 8.4rem;
  position: relative;

  &-bcg {
    object-fit: cover;
    height: 35.2rem;
    width: 100%;
  }

  .ctr {
    width: 100%;
    height: 35.2rem;
    position: absolute;
    top: 0;
    left: 0;

    .header-container {
      width: clamp(35.2rem, 100%, 100rem);
      height: 35.2rem;
      margin: 0 auto;
      z-index: 100;
      position: relative;

      &-text {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-59.5%);
        font-size: 4.2rem;
        font-family: "TbcFont4";
        line-height: 1.6;
        transition: padding 0.5s ease-out;

        @include respond(740px) {
          padding-left: 3rem;
        }

        span {
          font-size: 3.4rem;
        }
      }
    }
  }
}
