.main-content {
  .courses {
    background-color: #161616;
    padding-bottom: 5.75rem;

    &-header {
      padding: 3.5rem 1rem 6.6rem;
      font-size: 2.4rem;
      font-weight: 100;
      color: #ddd;
      transition: all 0.5s ease-out;

      @include respond(740px) {
        padding: 3.5rem 3rem 3.5rem;
        font-size: 3.8rem;
        font-family: "TbcFont2";
      }
      @include respond(470px) {
        font-size: 3.2rem;
      }
    }

    &-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 3.8rem;
      row-gap: 2.3rem;
      padding: 0 0.9rem;
      transition: padding 0.5s ease-out;

      @include respond(740px) {
        padding: 0 2.9rem;
      }

      @include respond(800px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include respond(600px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .course {
        border: 1px solid #4f4f4f;
        border-radius: 0.6rem;
        overflow: hidden;
        height: 41.6rem;
        position: relative;
        transition: height 0.5s ease-out;

        @include respond(600px) {
          height: 44rem;
        }
        @include respond(500px) {
          height: 48rem;
        }
        @include respond(400px) {
          height: 50rem;
        }

        &-img {
          width: 100%;
          height: 15rem;
          position: relative;
          bottom: 0.2rem;
          transition: height 0.5s ease-out;

          @include respond(800px) {
            height: 20rem;
          }
          @include respond(700px) {
            height: 17rem;
          }
          @include respond(600px) {
            height: 23rem;
          }
        }

        &-header {
          padding: 2.75rem 2.15rem 2.8rem;
          font-size: 1.8rem;
          transition: font-size 0.5s ease-out;

          @include respond(600px) {
            font-size: 2.4rem;
          }
        }

        &-status {
          padding: 0 2.15rem;
          font-size: 1.4rem;
          transition: font-size 0.5s ease-out;

          @include respond(600px) {
            font-size: 1.8rem;
          }
        }

        &-btn {
          position: absolute;
          bottom: 2.9rem;
          padding: 0 2.15rem;
          color: $color-blue;
          font-size: 1.6rem;
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 1rem;
          font-family: "TbcFont2";
          transition: font-size 0.5s ease-out;

          @include respond(600px) {
            font-size: 2rem;
          }
          i {
            position: relative;
            top: 0.3rem;
          }
        }
      }
    }
  }

  .slider {
    position: relative;
    height: 36.3rem;
    transition: height 0.5s ease-out;

    @include respond(740px) {
      height: 56.3rem;
    }

    &-header {
      padding: 3.6rem 1rem 0;
      font-family: "TbcFont1";
      font-weight: 100;
      transition: all 0.8s ease-out;

      @include respond(740px) {
        font-size: 3.8rem;
        padding: 3.6rem 3rem 0;
      }
      @include respond(740px) {
        font-size: 3.2rem;
      }
    }

    &-btn-left {
      font-size: 4rem;
      color: inherit;
      font-weight: 100;
      position: absolute;
      left: 10rem;
      bottom: 11rem;
      z-index: 10;

      @include respond(740px) {
        display: none;
      }
    }

    &-btn-right {
      font-size: 4rem;
      color: inherit;
      font-weight: 100;
      position: absolute;
      right: 10rem;
      bottom: 11rem;
      z-index: 10;

      @include respond(740px) {
        display: none;
      }
    }

    &-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.2rem;
      position: absolute;
      bottom: 8.3rem;
      left: 50%;
      transform: translateX(-50%);
      transition: bottom 0.8s ease-out;

      @include respond(740px) {
        bottom: 2.3rem;
      }

      button {
        cursor: pointer;
      }

      &-dot-big {
        width: 0.67rem;
        height: 0.6rem;
        background-color: #e4e4e4;
        border-radius: 50%;

        &.active {
          background-color: #fff;
        }
      }

      &-dot-small {
        width: 0.6rem;
        height: 0.6rem;
        background-color: #e4e4e4;
        border-radius: 50%;

        &.active {
          background-color: #fff;
        }
      }
    }

    .slide {
      display: flex;
      opacity: 0;
      width: 100%;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      transition: all 2s ease-out;
      gap: 3rem;

      @include respond(740px) {
        flex-direction: column;
        padding: 3rem;
        top: 55%;
      }

      &:last-child {
        justify-content: center;
      }

      img {
        width: 30%;
        transition: width 0.8s ease-out;

        @include respond(740px) {
          width: 60%;
        }
        @include respond(640px) {
          width: 70%;
        }
        @include respond(540px) {
          width: 80%;
        }
      }
    }

    .active {
      opacity: 1;
    }
  }

  .questions {
    background-color: #161616;
    margin: 0 auto;
    padding: 8.4rem 0 8.1rem;

    &-header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.8rem 5rem 1.8rem;
      font-size: 2.05rem;
      font-family: "TbcFont1";
      font-weight: 100;
      transition: font-size 0.5s ease-out;

      @include respond(740px) {
        font-size: 2.8rem;
      }

      &-text {
        font-family: inherit;
        font-weight: inherit;
      }

      .questions-more {
        font-family: "TbcFont3";
        color: $color-blue-light;
        font-weight: 600;
        margin-right: 0.5rem;
        font-size: 1.95rem;
        letter-spacing: 0.037rem;
        transition: color 0.35s ease-out;
        position: relative;
        bottom: 0.1rem;

        @include respond(740px) {
          display: none;
        }

        &:hover {
          color: $color-gray;
        }
      }
    }

    .question-container {
      padding: 2.8rem 0 3rem;
      padding: 2.8rem 0;
      margin: 0 5rem;
      border-bottom: 1px solid #353131;

      .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        h4 {
          font-size: 1.8rem;
          font-family: "TbcFont1";
          font-weight: 100;
          transition: font-size 0.5s ease-out;

          @include respond(740px) {
            font-size: 2.4rem;
          }
        }

        &-btn {
          color: #fff;
          padding: 0.6rem;

          .fa-chevron-up,
          .fa-chevron-down {
            display: none;
            font-size: 1rem;
            transition: font-size 0.5s ease-out;

            @include respond(740px) {
              font-size: 2.4rem;
            }
          }

          .show {
            display: block;
          }
        }
      }
      .answer {
        font-size: 1.4rem;
        line-height: 2;
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s ease;

        @include respond(740px) {
          font-size: 2rem;
        }

        &-heading {
          padding: 3.2rem 0.2rem 4rem;

          &:last-child {
            padding-bottom: 0rem;
          }
        }

        &-content {
          padding: 0 1rem 0 2.3rem;

          p {
            padding: 0.25rem 0;

            span {
              font-weight: 600;
            }
          }
        }
      }

      .shown {
        max-height: 1000rem;
      }
    }

    &-more-bottom {
      display: none;
      font-family: "TbcFont3";
      color: $color-blue-light;
      font-weight: 600;
      font-size: 2.4rem;
      letter-spacing: 0.037rem;
      transition: color 0.35s ease-out;
      text-align: center;
      padding-top: 7rem;

      @include respond(740px) {
        display: block;
      }

      &:hover {
        color: $color-gray;
      }
    }
  }
}
