.nav {
  height: 8.4rem;
  background-color: $color-bcg-dark;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.25s ease-out;

  &-scrolled {
    background-color: rgba(34, 34, 34, 0.95);
  }

  &-container {
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: clamp(32rem 100% 100rem);
    padding: 0 1rem;
    transition: padding 0.5s ease-out;

    @include respond(740px) {
      padding: 0 3rem;
    }

    .logo {
      position: relative;
      top: 0.3rem;
      img {
        width: 18.2rem;
      }
    }

    &-links {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      @include respond(740px) {
        display: none;
      }

      .nav-link {
        text-decoration: none;
        color: #f4f4f4;
        font-size: 1.4rem;
        transition: color 0.25s ease;
        padding: 2.4rem;

        &:last-child {
          padding-right: 1.5rem;
        }

        &:hover {
          color: $color-blue;
        }

        &.active {
          color: $color-blue;
        }
      }
    }
  }
}
